<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        <!--
         .tab { margin-left: 40px; }
        -->
    </style>

    <script type="text/javascript">
        function check_set_event() {
            if (document.getElementById('set_event').checked) {
                document.getElementById('if_set_event').style.display = "block";
            } else {
                document.getElementById('if_set_event').style.display = "none";
            }
        }
    </script>

    <script type="text/javascript">
        function check_manage_event() {
            if (document.getElementById('add_event').checked) {
                document.getElementById('if_add_event').style.display = "block";
                document.getElementById('if_remove_event').style.display = "none";
            } else {
                document.getElementById('if_add_event').style.display = "none";
                document.getElementById('if_remove_event').style.display = "block";
            }
        }
    </script>
</head>
<body>
<form action="/control_form" enctype="multipart/form-data" method="POST">
    <input type="radio" id="light_on" name="options" value="light_on" onclick="javascript:check_set_event();">
    <label for="light_on">Turn light on</label><br>

    <input type="radio" id="light_off" name="options" value="light_off" onclick="javascript:check_set_event();">
    <label for="light_off">Turn light off</label><br>

    <input type="radio" id="prank_on" name="options" value="prank_on" onclick="javascript:check_set_event();">
    <label for="prank_on">Turn prank mode on</label><br>

    <input type="radio" id="set_event" name="options" value="set_event" onclick="javascript:check_set_event();">
    <label for="set_event">Manage events</label><br>

    <div class="tab" id="if_set_event" style="display:none">
        <input type="radio" id="add_event" name="e_mod_type" value="add_event" onclick="javascript:check_manage_event();">
        <label for="add_event">Add event</label>

        <input type="radio" id="remove_event" name="e_mod_type" value="remove_event" onclick="javascript:check_manage_event();">
        <label for="remove_event">Remove event</label><br>

        <div class="tab" id="if_add_event" style="display:none">
            <input type="radio" id="e_light_on" name="e_options" value="e_light_on">
            <label for="e_light_on">Turn light on</label><br>

            <input type="radio" id="e_light_off" name="e_options" value="e_light_off">
            <label for="e_light_off">Turn light off</label><br>

            <input type="radio" id="e_prank_on" name="e_options" value="e_prank_on">
            <label for="e_prank_on">Turn prank mode on</label><br>

            <label for="e_time">Choose a time: </label>
            <input type="time" id="e_time" name="e_time" value="00:00"><br>
        </div>

        <div class="tab" id="if_remove_event" style="display:none">
            <label for="events">Event to delete</label>
            <select name="events" id="events">
                {% for e in set_events %}
                    <option value="{{ e }}">{{ e }}</option>
                {% endfor %}
            </select><br>
        </div>

    </div>

    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>